{% extends "base.html" %} {% block title%}
<title>Contact</title>
{% endblock %} {% block body%}
<div class="container">
    <div class="row h-100">
        <div id="content" class="
        overflow-hidden
        border-right
        col-xl-9 col-lg-12
        h-100
        px-4
        pb-5
        pt-4
      ">
            <div class="border-top d-block d-sm-none d-md-none"></div>

            <h1 class="p-3">Контакты</h1>
            <p>
                Если у вас есть вопросы или рекомендации по улучшению, пожалуйста
                обращайтесь к нам.<br />
                Мы обязательно ответим всем.
            </p>
            Email: <a href="mailto: supportfoodstore@gmail.com">support@coderoad.ru</a>
            <h3 class="p-3">Довідковий центр</h3>
            <p>
                Адреса:<br />
                м.Київ, вул.Самчинського, 43<br /><br />
                Глава по зв'язку з клієнтами.<br />
                +380961234567<br /><br />
                Зам. центру<br />
                +380678471649<br /><br />
                <a href="https://www.facebook.com/" target="_blank_">Facebook</a><br /><br />
                <a href="https://web.telegram.org/z/" target="_blank_">Telegram</a>
            </p>
            

        </div>
    </div>
</div>
{% endblock %}