{% extends "base.html" %}

{% block title %}
<title>Price List</title>
{% endblock %}
{% block body %}
<div>
    <div>
        <p>Вирізка яловича вагова: &nbsp;&nbsp;&nbsp;&nbsp; 1кг - 230 грн</p>
    </div>
</div>
<div>
    <div>
        <div>
            <p>Шия свині вагова: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 1кг - 160 грн</p>
        </div>
    </div>
</div>
<div>
    <div>
        <div>
            <p>Картопля рожева: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 1кг - 14 грн</p>
        </div>
    </div>
</div>
<div>
    <div>
        <div>
            <p>Огірок тепличний: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 1кг - 45 грн</p>
        </div>
    </div>
</div>
<div>
    <div>
        <div>
            <p>Яйце куряче: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 1шт - 3,5 грн</p>
        </div>
    </div>
</div>
{% endblock %}
