{% extends "base.html" %}


{% block title%}
<title>Товари</title>
{% endblock %}

{% block body%}
<div>
    <div>
        <div>
            <img src="https://f.varus.ua/rest/file/bySkuAndImageType/VARUS/135629/glovo" alt="Product image">
        </div>
        <div>
            <span>Вирізка яловича вагова</span>
            <div>кг</div>
        </div>
    </div>
</div>
<div>
    <div>
        <div>
            <img src="https://f.varus.ua/rest/file/bySkuAndImageType/VARUS/136671/glovo" alt="Product image">
        </div>
        <div>
            <span>Шия свині вагова</span>
            <div>кг</div>
        </div>
    </div>
</div>
<div>
    <div>
        <div>
            <img src="https://f.varus.ua/rest/file/bySkuAndImageType/VARUS/147921/glovo" alt="Product image">
        </div>
        <div>
            <span>Картопля рожева</span>
            <div>кг</div>
        </div>
    </div>
</div>
<div>
    <div>
        <div>
            <img src="https://f.varus.ua/rest/file/bySkuAndImageType/VARUS/2507408/glovo" alt="Product image">
        </div>
        <div>
            <span>Огірок тепличний 1 гатунок</span>
            <div>кг</div>
        </div>
    </div>
</div>
<div>
    <div>
        <div>
            <img src="https://f.varus.ua/rest/file/bySkuAndImageType/VARUS/235100/glovo" alt="Product image">
        </div>
        <div>
            <span>Яйце куряче 1шт</span>
            <div>шт</div>
        </div>
    </div>
</div>
{% endblock %}
